@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Quicksand:wght@300..700&display=swap');
@import "tailwindcss";

@source "../node_modules/flowbite-datepicker";

.swiper-pagination {
  bottom: 32px !important; /* lift them up more */
  z-index: 20; /* make sure it's above background layers */
}

/* Base (inactive) bullets */
.swiper-pagination-bullet.custom-bullet {
  background-color: #F5F0E1; /* Cream */
  opacity: 1;
}

/* Active bullet */
.swiper-pagination-bullet-active.custom-bullet-active {
  background-color: #6F4E37 !important; /* Coffee Brown */
}